

html {

}

header {
	height: 170px;
  text-align: center;
  font-size: 12px;
  color: white;
  background-color: black;


}

#container {
	min-height:100vh;	
	margin-bottom: 10em;
}

#logo {
	margin-left: 200px;
	margin-right: 200px;
	float: left;
	max-width: 170px;
	height: auto;

	
}

#topbuttons {




	margin-right: 150px;
}

.topbutton {
	color: #c6c6c6;
	margin-left: 10px;
	margin-right: 25px;
	font-family: "Palatino Linotype";
	font-size: 30pt;
	width: 250px;
	height: 132px;
	background-image: url('../images/streambutton.png');
	background-repeat: repeat;
	cursor:pointer;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.topbutton:hover {

	width: 250px;
	height: 132px;
	background-image: url('../images/streambuttonH.png');
}

.topbutton2 {
	color: #c6c6c6;
		margin-right: 25px;
		font-family: "Palatino Linotype";
	font-size: 30pt;
	width: 250px;
	height: 132px;
	background-image: url('../images/ytbutton.png');
		background-repeat: repeat;
	cursor:pointer;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.topbutton2:hover {
	width: 250px;
	height: 132px;
	background-image: url('../images/ytbuttonH.png');
}

.topbutton3 {
	color: #c6c6c6;
		font-family: "Palatino Linotype";
	font-size: 30pt;
	width: 250px;
	height: 132px;
	background-image: url('../images/bracketbutton.png');
		background-repeat: repeat;
	cursor:pointer;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.topbutton3:hover {
	width: 250px;
	height: 132px;
	background-image: url('../images/bracketbuttonH.png');
}

body {
	min-height: 100%;
	background-image: linear-gradient(to bottom, black, #403c0c, black);
	background-repeat: no-repeat;
	background-attachment: fixed;	
	margin: 0; padding: 0;
}

ul {
	  list-style-type: none;
}

h1 {
	letter-spacing: 2pt;
	text-align: center;
	color: #c6c6c6;
	font-size: 30pt;
	font-family: "Palatino Linotype";
	padding-top: 2em;
}


.button {
	font-family: "Palatino Linotype";
	font-size: 20pt;
	width: 320px;
	height: 50px;
	background: url('../images/navbutton.png');
	background-size: 100%
	background-repeat: repeat;
	cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #c6c6c6;

}

a {
	text-decoration: none;
	color: yellow;
}


.button:hover {
		width: 320px;
	height: 50px;

	background: url('../images/navbuttonH.png');
}


.social {
	width: 50px;
	height:auto;
	margin-left: 90px;
	margin-right: 90px;
}


p {
line-height: 1.6;
font-family: "Century Gothic";
font-size: 12pt;
color: #e3e0c3;
text-align:justify;
}

#paragraphs {
	padding-top: 10px;
	padding-left: 300px;
	padding-right: 300px;
	padding-bottom: 300px;
	margin-bottom: 10em;
	clear:both;
}

nav {
	margin-top: 70px;
		margin-left: 100px;
  float: left;
  height: auto; 

}

aside {
	float: right;
	margin-top: 50px;
	margin-right: 300px;

}

footer {
	width: 100%;
  margin-bottom: 30px;
  text-align: center;
  float: bottom;

}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  max-width: 600px;


}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -30;
  border-radius: 3px 0 0 3px;
}
.prev {
	left: -30;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.3;
}

.active,
.demo:hover {
  opacity: 1;
}

textarea{
width: 50em;
height: 10em;
padding: 2em;
  resize: none;
}

input[type="submit"] {
	width: 10em;
	margin: 0 auto;
	display: block;
}

input {
box-sizing: border-box;
}

form {
	padding-top: 2em;
	color: white;
	position: relative;
}

input[type="text"] {
	left: 20em;

}

label {
	display: block;
	width: 15em;
}

.dot {
	display:inline;
}

h2 {
	color:white;
	
	text-align: center;
}

h4 {
	margin-left: 140px;
	color: #c6c6c6;
	
}

#campusevents{
	width: 40%;
	margin: auto;
	margin-bottom: 20em;
	
	min-height: 50em;
	
	

	
}

.columne {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  	border-style: solid;
	border-color: #26260C;
	background-color: rgba(191, 191, 63, 0.28);
	height: 90%;
	
}

.event {
	width: 70%;
	height: auto;
	margin-left: 3em;
	margin-bottom: 3em;
	opacity: 0.8;
}

.event:hover {
	opacity: 1;

}

h6 {
	font-size: 12pt;
	text-align: right;
}

h2 {
	color:white;
	padding-top: 2em;
	text-align: center;
	text-decoration: underline;
}

.contents {
	color: #c6c6c6;
	text-decoration: underline;
	font-size: 23px;
	margin-left: 150px;
	line-height: 1.5;
	

	
}

#rules {
	text-align: justify;
	line-height: 1.6;
font-family: "Century Gothic";
font-size: 12pt;
color: #e3e0c3;
padding-top: 25em;
padding-right:300px;
padding-left:300px;
margin: 50px;
}

h4 {
	margin-left: 140px;
	color: #c6c6c6;

}

#stage {
	width: 300px;
	height: 219px;



}

li {
	padding-bottom: 1em;
}

.navs {
	padding-bottom: 0em;
}

#photographs {
	padding-top: 10px;
	padding-left: 100px;
	padding-right: 300px;
	padding-bottom: 300px;
	margin-bottom: 20em;
	
	
}

div.gallery {
	margin: 5px;
  border: 1px solid black;
  float: left;
  width: 180px;

}

div.gallery:hover {
  border: 1px solid yellow;
}

div.gallery img {
width:100%;
height: auto;


}

.responsive {
	padding: 10px;

  float: left;

}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#photogallery{

	margin-top: 30em;
margin-left: 25em;
}

#toc{
		width: 500px;
	height:300px;
	float:right;
	margin-top: 4em;
	margin-right: 20em;
	background-image: url('../images/smushfun.png');
	border-style: solid;
	border-width: 1px;
	border-color: #c6c6c6;
	border-radius: 25px;
	font-family: "Palatino Linotype";
}
	
#tdth {
	

	font-family: "Palatino Linotype";
	text-align:center;
	margin-left: 20%;
	
}	

#tdthinfo {
		text-align: justify;
	line-height: 1.6;
font-family: "Century Gothic";
font-size: 12pt;
color: #e3e0c3;
text-indent: 50px;
margin-top: 5em;
padding-right:150px;
padding-left:150px;
margin-left: 50px;
margin-right:50px;
margin-bottom: 10em;
}

#photoblurb {
		float: right;
	margin-top: 10em;
	margin-right: 20em;
	width: 40%;
}

#throwdown {

}
#throwdowninf {
	text-align: center;
}
	